<h1>Edit an Episode </h1>
	<%= form_for @episode do |f| %>
		<%= f.label :date %>
		<%= f.text_field :date %>
		<%= f.label :number %>
		<%= f.number_field :number %>
		<%= f.label :rating %>
		<%= f.number_field :rating %>
		<%= f.submit %>

	<% end %>
