<h1>Create new appearance</h1>
<%=form_for(@appearance) do |f|%>
<%=f.collection_select :guest_id, Guest.all, :id, :name%><br>
<%=f.collection_select :episode_id, Episode.all, :id, :number%><br>
<%=f.label :guest_rating%>
<%=f.number_field :guest_rating%>
<%=f.submit%>
<%end%>
